{% macro input(field, multiple=False, class='form-control', inline=False, placeholder='') -%}
    <div class="form-group{% if inline %} row{% endif %}">
    {% if field.type != "SubmitField" %}
        {% if inline %}
          {{ field.label(class="col-3") }}
        {% else %}
          {{ field.label() }}
        {% endif %}
    {% endif %}
        <div class="controls{% if inline %} col-9{% endif %}">
        {% if multiple == True %}
            {{ field(multiple=True, class=class, placeholder=placeholder) }}
        {% else %}
            {{ field(class=class, placeholder=placeholder) | safe }}
        {% endif %}
        {% if field.description %}
            <small id="{{field.name}}_description"" class="form-text text-muted">{{ field.description }}</small>
        {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro submit(field, cancel=False, home=False) -%}
    <div class="actions">
        <button type="submit" class="btn btn-primary">{{ field.name }}</button>
        {% if home %}
        <a href="{{ url_for(".remind_password") }}" class="btn btn-link">{{ _("Can't remember the password?") }}</a>
        {% endif %}
        {% if cancel %}
        <button type="reset" class="btn btn-light">{{ _("Cancel") }}</button>
        {% endif %}
      </div>
{% endmacro %}

{% macro authenticate(form, home=False) %}

    {% include "display_errors.html" %}

    {{ form.hidden_tag() }}
    {{ input(form.id) }}
    {{ input(form.password) }}
    {% if not home %}
    {{ submit(form.submit, home=True) }}
    {% endif %}

{% endmacro %}

{% macro admin(form) %}

    {% include "display_errors.html" %}

    {{ form.hidden_tag() }}
    {{ input(form.admin_password) }}
    {{ submit(form.submit) }}

{% endmacro %}

{% macro create_project(form, home=False) %}

    {% include "display_errors.html" %}
    {{ form.hidden_tag() }}
    {% if not home %}
    {{ input(form.id) }}
    {% endif %}
    {{ input(form.name) }}
    {{ input(form.password) }}
    {{ input(form.contact_email) }}
    {% if not home %}
    {{ submit(form.submit, home=True) }}
    {% endif %}

{% endmacro %}

{% macro edit_project(form) %}

    {% include "display_errors.html" %}
    {{ form.hidden_tag() }}
    {{ input(form.name) }}
    {{ input(form.password) }}
    {{ input(form.contact_email) }}
    <div class="actions">
        <button class="btn btn-primary">{{ _("Edit the project") }}</button>
        <a id="delete-project" style="color:red; margin-left:10px; cursor:pointer; ">{{ _("delete") }}</a>
    </div>

{% endmacro %}

{% macro upload_json(form) %}
    {% include "display_errors.html" %}
    {{ form.hidden_tag() }}
    {{ form.file }}
    <div class="actions">
        <button class="btn btn-primary">{{ _("Import") }}</button>
    </div>
{% endmacro %}

{% macro add_bill(form, edit=False, title=True) %}

    <fieldset>
        {% if title %}<legend>{% if edit %}{{ _("Edit this bill") }} {% else %}{{ _("Add a bill") }} {% endif %}</legend>{% endif %}
    {% include "display_errors.html" %}
    {{ form.hidden_tag() }}
    {{ input(form.date, class="form-control", inline=True) }}
    <small class="small text-muted">Repeating every 7 days until 4/25/2020. <a href="#">Cancel Recurrence</a></small>

    <a class="small recurring_bill_hide in collapse show" href=".recurring_bill_hide" data-toggle="collapse" role="button" aria-expanded="true">Make Repeating</a>
    <div class="form-group recurring_bill_hide collapse">
        <label for="recurring_bill">Repeating</label>
        <div id="recurring_bill" class="form-group card card-body bg-light">
            <div class="form-group row">
                <label class="col-3" for="repeat_quantity">Every</label>
                <div class="controls col-4">
                    <input class="form-control" id="repeat_quantity" name="repeat_quantity" type="text" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                </div>
                <div class="controls col-5">
                    <select class="form-control custom-select" id="repeat_units" name="repeat_units">
                        <option value="days">Days</option>
                        <option value="weeks">Weeks</option>
                        <option value="months">Months</option>
                        <option value="years">Years</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label class="col-3" for="repeat_until">Until</label>
                <div class="controls col-9">
                    <input class="form-control" id="repeat_until" name="repeat_until" type="date">
                <small id="external_link_description" "="" class="form-text text-muted">The last day to repeat this bill on (inclusive)</small></div>
            </div>
        </div>
    </div>
    {{ input(form.what, inline=True) }}
    {{ input(form.payer, inline=True, class="form-control custom-select") }}
    {{ input(form.amount, inline=True) }}
    {{ input(form.external_link, inline=True) }}

    <div class="form-group row">
        <label class="col-3" for="payed_for">{{ _("For whom?") }}</label>
        <div class="controls col-9">
            <ul id="payed_for" class="inputs-list">
                <p><a href="#" id="selectall" onclick="selectCheckboxes(true)">{{ _("Select all") }}</a> | <a href="#" id="selectnone" onclick="selectCheckboxes(false)">{{_("Select none")}}</a></p>
            {% for key, value, checked in form.payed_for.iter_choices() | sort(attribute='1') %}
                <p class="form-check">
                   <label for="payed_for-{{key}}" class="form-check-label">
                      <input name="payed_for" type="checkbox" {% if checked %}checked{% endif %} class="form-check-input" value="{{key}}" id="payed_for-{{key}}"/>
                      <span>{{value}}</span>
                    </label>
                 </p>
            {% endfor %}
            </ul>
        </div>
    </div>
    </fieldset>
    <div class="actions">
        {{ form.submit(class="btn btn-primary") }}
        {% if not edit %} {{ form.submit2(class="btn btn-light") }}{% endif %}
    </div>

{% endmacro %}

{% macro add_member(form) %}
{{ form.hidden_tag() }}
    {% include "display_errors.html" %}
    <div class="input-group">
        <label class="sr-only" for="name">_("Add participant")</label>
        {{ form.name(placeholder=_("Add participant"), class="form-control") }}
        <div class="input-group-append">
            <button class="btn btn-secondary input-group-addon" type="submit">{{ _("Add") }}</button>
        </div>
    </div>
{% endmacro %}

{% macro edit_member(form, title=True) %}
    <fieldset>
        {% if title %}<legend>{{ _("Edit this member") }}</legend>{% endif %}
    {% include "display_errors.html" %}
    {{ form.hidden_tag() }}
    {{ input(form.name) }}
    {{ input(form.weight) }}
    </fieldset>
    <div class="actions">
        {{ form.submit(class="btn btn-primary") }}
    </div>
{% endmacro %}


{% macro invites(form) %}
    {{ form.hidden_tag() }}
    {{ input(form.emails, placeholder=_('john.doe@example.com, mary.moe@site.com')) }}
    <div class="actions">
        <button class="btn btn-primary">{{ _("Send the invitations") }}</button>
    </div>
{% endmacro %}

{% macro export_project(form) %}
    <fieldset>
    {{ form.hidden_tag() }}
    {{ input(form.export_type) }}
    {{ input(form.export_format) }}
    </fieldset>
    <div class="actions">
        <button class="btn btn-primary">{{ _("Download") }}</button>
    </div>
{% endmacro %}

{% macro remind_password(form) %}
    {% include "display_errors.html" %}
    {{ form.hidden_tag() }}
    {{ input(form.id) }}
    {{ submit(form.submit) }}

{% endmacro %}

{% macro reset_password(form) %}
    {% include "display_errors.html" %}
    {{ form.hidden_tag() }}
    {{ input(form.password) }}
    {{ input(form.password_confirmation) }}
    {{ submit(form.submit) }}

{% endmacro %}
